.tooltip-wrapper[data-popper-placement^='top'] .popper-arrow {
  bottom: -5px !important;
}

.tooltip-wrapper[data-popper-placement^='bottom'] .popper-arrow {
  top: -5px !important;
}

.tooltip-wrapper[data-popper-placement^='right'] .popper-arrow {
  left: -5px !important;
}

.tooltip-wrapper[data-popper-placement^='left'] .popper-arrow {
  right: -5px !important;
}

.popper-arrow::before {
  position: absolute;
  transform: rotate(45deg);
  border-radius: 2px;
}
